{{ define "content" }}

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Soil</h1>
        <p class="lead">The simple app to serve http pages.</p>
        <p>See <a href="https://getbootstrap.com/docs/5.0/examples/">Bootstrap Examples</a> to build what you want.</p>
    </div>
</main>

{{ end }}