<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {{ template "favicon.tmpl" . }}
        {{ CSS "assets/css/soil.css" "all" }}
    </head>
    <body>
        {{ template "menu.tmpl" }}
        {{ template "content" . }}
        {{ template "footer.tmpl" }}
        
        {{ JS "assets/js/bootstrap.min.js" }}
    </body>
</html>